{% extends 'base.html' %}

{% block content %}
		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">About This Page</h2>
				<p class="col-12 text-center">This is a project that allow users to search to a specific location many types of coffees.
				Including if it has many services like wifi, toilet or maybe if it's a quiet or relax place.
				</p>
			</header>

			<div class="tm-container-inner tm-history">
				<div class="row">
					<div class="col-12">
						<img src="../static/img/capybara-bath.jpg" alt="Image" class="img-fluid tm-history-img" />
					</div>
				</div>
			</div>
		</main>


{% endblock %}